* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(127, 189, 240);
}
h2 {
    text-align: center;
    font-size: 3em;
    color: #e94d58;
    margin: 15px 0;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}
img{
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    min-width: 83vh;
}
